[Unit]
Description=Stop Greengrass service, update the certificate, start Greenrgass service

[Service]
ExecStart=/bin/sh /root/restart_greengrass.sh
StandardOutput=append:/root/restart_gg.log
StandardError=append:/root/restart_gg.log

[Install]
WantedBy=multi-user.target